body {
    font-family: Georgia, serif;
}

#title {
    width: 100%;
    float: left;
    margin: 0 0 20px 0;
}

#title a {
    color: inherit;
    text-decoration: none;
}

#header {
    font-family: 'Station', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 3px solid #000018;
}

.menubtn {
    float: right;
    width: 50px;
}

.closenote {
    float: right;
}

#content {
    padding-top: 20px;
}

#notes {
    width: 45%;
    float: left;
    padding-right: 4%;
}

#notes ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#notes ul li {
    margin: 5px 0;
}

#filter {
    width: 49%;
    float: left;
    margin-left: 10px;
}

#tags {
    margin-top: 5px;
    line-height: 20px;
    text-align: justify;
}

#tags a {
    text-decoration: none;
    color: inherit;
    background-color: #EEE;
    padding: 0 4px;
}

#tagstitle {
    /* font-variant: small-caps; */
    font-style: italic;
    padding-right: 4px;
}

#footer {
    width: 580px;
    float: left;
    margin-left: 8px;
}

#main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

img#logo {
    vertical-align: text-top;
    padding-right: 8px;
    float: left;
}

#pageadmin {
    font-variant: small-caps;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#footer {
    margin-top: 20px;
    font-variant: small-caps;
    margin-left: 206px; 
}

#newform {
    display: none;
    width: 49%;
    float: left;
}

#addnotebtn {
    float: right;
}

.clear {
    clear: both;
}
